# Core ML & Deep Learning
tensorflow
scikit-learn
joblib

# Image Processing
opencv-python
pillow

# Data Handling
numpy
pandas

# Visualization
matplotlib
seaborn
plotly

# Deployment
streamlit

# Development (Jupyter Support)
ipykernel

pydot
